<!DOCTYPE html>
<html>
    <head>
    <title>BookKit</title>

    <link rel="stylesheet" type="text/css" href="bookkit/css/bookkit.css"/>
    <link rel="stylesheet" type="text/css" href="bookkit/css/bookkit.fonts.css"/>

    <script type="text/javascript" src="bookkit/lib/jquery.min.js"></script>
    <script type="text/javascript" src="bookkit/lib/underscore.js"></script>
    <script type="text/javascript" src="bookkit/lib/backbone.js"></script>
    <script type="text/javascript" src="bookkit/lib/waypoints.js"></script>
    <script type="text/javascript" src="bookkit/lib/jquery.onscreen.js"></script>

    <script type="text/javascript" src="bookkit/js/bookkit.js"></script>
    <script type="text/javascript" src="bookkit/js/bookkit.helpers.js"></script>
    <script type="text/javascript" src="bookkit/js/bookkit.models.js"></script>
    <script type="text/javascript" src="bookkit/js/bookkit.reader.js"></script>
    <!--
    <script type="text/javascript" src="bookkit/js/bookkit.helpers.js"></script>
    <script type="text/javascript" src="bookkit/js/bookkit.models.js"></script>
    <script type="text/javascript" src="bookkit/js/bookkit.events.js"></script>
    -->
    <!-- There will be one -BookKit-Reader for every chapter (or spine
         item) in the book. BookKit will position the readers either 
         horizontally or vertically, depending on configuration, and 
         re-position the preceding or subsequent chapter reader as the 
         user attempts to scroll beyond the present reader. -->
    <script type="text/template" id="reader_template">
        <div class="-BookKit-Reader" id="<%= idref %>"></div>
    </script>

    <script type="text/template" id="reader_content_template"><iframe class="-BookKit-Reader-Contents" src="<%= href %>" data-idref="<%= idref %>"/></script>

    <script type="text/template" id="reader_bookmarker_template">
    </script>

    <script type="text/template" id="reader_notemarker_template">
    </script>

    <script type="text/javascript">
      // Load Ulysses

      var package = {
        basePath: "Ulysses.epub/EPUB/",
        title: "Ulysses",

        spineData: [
          {idref: "cover", linear: false, href:"ulysses-cover.png"},
          {idref: "toc", linear: false, href:"ulysses-toc.xhtml"},
          {idref: "titlepage", linear: true, href:"ulysses-titlepage.xhtml"},
          {idref: "edition", linear: true, href:"ulysses-edition.xhtml"},
          {idref: "part-1", linear: true, href:"ulysses-part_1.xhtml"},
          {idref: "episode-01", linear: true, href:"ulysses-episode_01.xhtml"},
          {idref: "episode-02", linear: true, href:"ulysses-episode_02.xhtml"},
          {idref: "episode-03", linear: true, href:"ulysses-episode_03.xhtml"},
          {idref: "part-2", linear: true, href:"ulysses-part_2.xhtml"},
          {idref: "episode-04", linear: true, href:"ulysses-episode_04.xhtml"},
          {idref: "episode-05", linear: true, href:"ulysses-episode_05.xhtml"},
          {idref: "episode-06", linear: true, href:"ulysses-episode_06.xhtml"},
          {idref: "episode-07", linear: true, href:"ulysses-episode_07.xhtml"},
          {idref: "episode-08", linear: true, href:"ulysses-episode_08.xhtml"},
          {idref: "episode-09", linear: true, href:"ulysses-episode_09.xhtml"},
          {idref: "episode-10", linear: true, href:"ulysses-episode_10.xhtml"},
          {idref: "episode-11", linear: true, href:"ulysses-episode_11.xhtml"},
          {idref: "episode-12", linear: true, href:"ulysses-episode_12.xhtml"},
          {idref: "episode-13", linear: true, href:"ulysses-episode_13.xhtml"},
          {idref: "episode-14", linear: true, href:"ulysses-episode_14.xhtml"},
          {idref: "episode-15", linear: true, href:"ulysses-episode_15.xhtml"},
          {idref: "part-3", linear: true, href:"ulysses-part_3.xhtml"},
          {idref: "episode-16", linear: true, href:"ulysses-episode_16.xhtml"},
          {idref: "episode-17", linear: true, href:"ulysses-episode_17.xhtml"},
          {idref: "episode-18", linear: true, href:"ulysses-episode_18.xhtml"}
          ]
      }

      BookKit.Config.bookKitPath = "/Users/will/Dropbox/Projects/BookKit"

      var book = new BookKit.Models.Book(package);

      var reader = null;

      $(window).load(function () {
      
      reader = new BookKit.Views.VerticalBookReader(book, 0);
      reader.render(function() {
          $('#-BookKit-Loading-Container').hide();
          $('#-BookKit-Book').show();

          reader.currentChapter();
          reader.currentPage();
      });


/*
        // Show an annotation (a highlight in this case);
        var cfi = new BookKit.Models.CFI({cfi: "epubcfi(/6/12!/4/2[episode-01]/72,/1:78,/1:125)", book: book}).parseAndResolve();
        var annotation = new BookKit.Models.Annotation({cfi: cfi, type: 1, style: 1});
        var annotationView = new BookKit.Views.Annotation(annotation);
        annotationView.apply();

        BookKit.Helpers.addAnnotation( 
            "epubcfi(/6/12!/4/2[episode-01]/72,/1:78,/1:125)",
            book,
            1,
            1,
            "");


        */


      });
    </script>
  </head>
  <body>
    <div id="-BookKit-Loading-Container">
      <div id="-BookKit-Loading">
        <h1>
          BookKit 
        </h1>
        <div id="-BookKit-Loading-Status">
          <h2 id="-BookKit-Loading-Status-Label">Loading</h2>

          <p id="-BookKit-Loading-Dots">
            <span id="-BookKit-Loading-One">.</span>
            <span id="-BookKit-Loading-Two">.</span>
            <span id="-BookKit-Loading-Three">.</span>
          </p>
        </div>
      </div>
    </div>

    <div id="-BookKit-Book">
      <div id="-BookKit-Book-PageGutter"></div>
      
    </div>
  </body>
</html>
